/* RESET ----------------------------------------------------------*/
html, body, div, nav, span, p, a, del, em, img, strike, strong, sub, sup, dl, dt, dd,
ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: #29292d;
}

@font-face {

    font-family: bonveno-light;
    src: url('fonts/BonvenoCF-Light.otf') format('opentype');
}

nav {
    position: fixed;
    left: 100px;
    top: 100px;
    white-space: nowrap;

    transform: translate3d(0, 0, 0);
    z-index: 1040;
}

.nav-option {
    position: relative;
    display: inline-block;
    font-family: bonveno-light;
    font-size: 1.8em;
    letter-spacing: -1px;
    color: #FFF;

    margin: 0 60px 0 0;

    -webkit-font-smoothing: antialiased;

    cursor: pointer;
}

.deck {
    position: relative;
    display: inline-block;
    top: 201px;
    margin: 0 0 6px 100px;
    white-space: nowrap;
}

.row {
    position: relative;
    display: table;
    white-space: nowrap;
}

.column {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 0 6px 0 0;
    white-space: nowrap;
}

.card-horizontal-1 {
    position: relative;
    height: 200px;
    width: 500px;
    background-color: #25233f;
    margin: 0 0 6px 0;
}

.card-horizontal-2 {

}

.card-horizontal-3 {
    position: relative;
    display: inline-block;
    height: 346px;
    width: 500px;
    background-color: #25233f;
    margin: 0 6px 6px 0;
}

.card-horizontal-4 {
    position: relative;
    height: 500px;
    width: 500px;
    background-color: #25233f;
}

.card-vertical-1 {
    position: relative;
    display: inline-block;
    height: 294px;
    width: 247px;
    background-color: #25233f;
    margin: 0 6px 6px 0;
}

.card-vertical-2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 148px;
    width: 147px;
    background-color: #25233f;
    margin: 0 6px 2px 0;
}

.card-vertical-3 {
    position: relative;
    display: inline-block;
    height: 148px;
    width: 347px;
    background-color: #25233f;
    margin: 0 6px 2px 0;
}

.profile-pic {
    position: absolute;
    margin: 0 0 0 -10px;
}

.info {
    position: absolute;
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;

    -webkit-font-smoothing: antialiased;
}

.sidebar {
    position: absolute;
    width: 100px;
    height: 100%;
    background-color: #2b2c31;
    box-shadow: 3px 0px 12px 0px rgba(0,0,0,0.12)
}
