/* RESET ----------------------------------------------------------*/
html, body, div, nav, span, p, a, del, em, img, strike, strong, sub, sup, dl, dt, dd,
ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: bonveno-light;
  background-color: #29292d;
}

p {
  font-size: 1.5rem;
}

@font-face {
  font-family: bonveno-light;
  src: url('fonts/BonvenoCF-Light.otf') format('opentype');
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.item {
  flex: 1 1 auto;
}

.card {
  margin: 1rem;
  padding: 0.85rem;
  min-width: 20rem;
  background-color: #f6f6f6;
}
